In [1]:
2+7
2*7

14

1. Print() function in python:

In [2]:
print(2+7)
print(2*7)

9
14

In [3]:
print('Hello World!!!!')

Hello World!!!!

Variables

In [4]:
month=12
print(month)

12

In [5]:

a=3
b=a
print(b)

3

If we don't declare the variable and try to print the output then we will get the following error

In [6]:
print(x)

NameError: name 'x' is not defined

Multiple Assignment Operator

In [7]:
height = 3
length = 6
width = 2
volume = height * length * width
print(volume)

36

In [8]:

# this will now assign 3 to height, 6 to length and 2 to width just as before.
height , length , width = 3 , 6 , 2
volume = height * length * width
print(volume)

36

Variable Naming Conventions

In [9]:
#Allowed variable names

x=2
y="Hello"
mypython="PythonGuides"
my_python="PythonGuides"
_my_python="PythonGuides"
_mypython="PythonGuides"
MYPYTHON="PythonGuides"
myPython="PythonGuides"
myPython7="PythonGuides"

In [10]:

#Variable name not Allowed

7mypython="PythonGuides"
-mypython="PythonGuides"
myPy@thon="PythonGuides"
my Python="PythonGuides"
for="PythonGuides"

#It shows invalid syntax.

SyntaxError: invalid decimal literal (<ipython-input-10-23d4199b4438>, line 3)

In [11]:
# pythonic way

my_height = 58
my_lat = 40
my_long = 105

In [12]:
# not pythonic way
my height = 58 # wont work
MYLONG = 40    # will work still avoid using it
MyLat = 105    # will work still avoid using it

SyntaxError: invalid syntax (<ipython-input-12-0bc6c130fbea>, line 2)

overwriting

In [13]:

rent = 1700
rent = 2000
print(rent)

2000

In [14]:

rent = 1700
rent = 2000
rent =rent + 700
print(rent)

2700

In [15]:

rent = 1700
rent = 2000
rent += 700
print(rent)

2700

Integers and Floats

In [16]:
print(3/2)

1.5

In [17]:

a = 3
b = 2.5

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [18]:
a = float(3)
b = int(28.9)
print(a)
print(b)

3.0
28

In [19]:

print(0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23
       + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23
       + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23
       + 0.23 + 0.23 + 0.23 + 0.23 + 0.23 + 0.23
       + 0.23 + 0.23 + 0.23 + 0.23+ 0.23 + 0.23 == 6.9)

False

Boolean Datatype, Comparison and Logical Operators

In [20]:
python_awsome = True
doumentation_bad = False

In [21]:

a = 3 > 1
print(a)

True

In [22]:
rent = 1200
is_affordable = rent > 1000 and rent < 2000

print(is_affordable)

True

In [23]:

rent = 1200
is_affordable = not(rent > 1000 and rent < 2000) #"not" just inverts bool value

print(is_affordable)

False

Strings

In [24]:
# using Double Quotes
print("ShapeAI")
# using Single Quotes
print('ShapeAI')

ShapeAI
ShapeAI

In [25]:
motto = "Learn | Code | Compete | Intern"
print(motto)

Learn | Code | Compete | Intern

In [26]:
type(motto)

str

In [27]:
dialogue = "shiva said, "you learn as you grow""

SyntaxError: invalid syntax (<ipython-input-27-2d8d4e434758>, line 1)

In [28]:
dialogue = 'shiva said, "you learn as you grow"'
print(dialogue)

shiva said, "you learn as you grow"

In [29]:

dialogue = '"shiva you\'re bag is red"'
print(dialogue)

"shiva you're bag is red"

In [30]:

print("hello" + "world")

print("hello" + " " + "world")

helloworld
hello world

In [31]:
word = "hello"
print(word * 5)

hellohellohellohellohello

In [32]:
word_1 = "hello"
word_2 = "world"
print(word_1 / word_2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [33]:
word_length = len("ShapeAI")
print(word_length)

7

Type and Type Conversion Revision

In [34]:
print(type(75))
print(type(75.0))
print(type("75"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [36]:
decimal = float(3)
print(decimal)
print(type(decimal))

3.0
<class 'float'>

In [37]:

marks = 15
subject = "coding"
semester = "first"

result = "I scored " + str(marks) + " in " + subject + " during my " + semester + " semester."
print(result)

I scored 15 in coding during my first semester.

In [38]:
marks = "15"
print(type(marks))

marks = float(marks)
print(type(marks))

<class 'str'>
<class 'float'>

In [39]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#TODO: Print a string with this format: This week's total sales: xxx
# You will probably need to write some lines of code before the print statement.
total_sales = (float(mon_sales) + float(tues_sales) + float(wed_sales)
                + float(thurs_sales) + float(fri_sales))
print("This week\'s total sales: " + str(total_sales))

This week's total sales: 529.0

One important string method: format()

In [40]:
# Example 1
print("EG:1")
print("Mohammed has {} balloons".format(27))

EG:1
Mohammed has 27 balloons

In [42]:
 #Example 2
print("EG:2")
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

EG:2
Does your dog bite?

In [43]:
# Example 3
print("EG:3")
maria_string = "Maria loves {} and {}"
print(maria_string.format("math","statistics"))

EG:3
Maria loves math and statistics

 Lists and Membership Operators

In [44]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner']

In [45]:
print(students[0])
print(students[1])
print(students[2])

sam
pam
rocky

In [46]:
print(students[-1])
print(students[-2])
print(students[-3])

banner
steve
austin

In [47]:
print(students[20])

IndexError: list index out of range

In [48]:

# TODO: write your code here
students[len(students)-1]

'banner'

a. Membership Operators:[Lists]

In [49]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce',
            'henry', 'clark', 'diana']
student = "Barry"

# slice a particular range
marvel = students[4:7]
flash = student[1:3]

print(marvel)
print(flash)

['steve', 'banner', 'tony']
ar

In [50]:
# slice from the end
dc = students[7:]
flash = student[1:]

print(dc)
print(flash)

['bruce', 'henry', 'clark', 'diana']
arry

In [51]:
# slice from the begining
normal = students[:4]
flash = student[:3]

print(normal)
print(flash)

['sam', 'pam', 'rocky', 'austin']
Bar

In [52]:
# length of the list and the string
print(len(students))
print(len(student))

11
5

In [53]:
greeting = "Hello there"
print('her' in greeting, 'her' not in greeting)

True False

In [54]:
print('ShapeAI' in students, 'ShapeAI' not in students)

False True

Mutability and Order

In [55]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce',
            'henry', 'clark', 'diana']

students[2] = 'ben'
print(students)

['sam', 'pam', 'ben', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

In [56]:
student = "Barry"
student[1] = "e"
print(student)

TypeError: 'str' object does not support item assignment

In [57]:
student = "pam"
character = student
print(character)
character = "peter"
print(character)
print(student)

pam
peter
pam

In [58]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce',
            'henry', 'clark', 'diana']
characters = students
print(characters)
characters[1]= "peter"
print(characters)
print(students)

['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']
['sam', 'peter', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']
['sam', 'peter', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

In [59]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce',
            'henry', 'clark', 'diana']

student = "barry"

print(max(students))
print(max(student))

tony
y

In [60]:
max([2, 'two'])

TypeError: '>' not supported between instances of 'str' and 'int'

In [61]:
characters = sorted(students)
print(characters)

['austin', 'banner', 'bruce', 'clark', 'diana', 'henry', 'pam', 'rocky', 'sam', 'steve', 'tony']

In [62]:
sep_str = "\n".join(["Jack", "O", "Lantern"])
print(sep_str)

Jack
O
Lantern

In [63]:
name = "-".join(["Jack", "O", "Lantern"])
print(name)

Jack-O-Lantern

In [64]:
letters = ['a', 'b', 'c', 'd']
letters.append('e')
print(letters)

['a', 'b', 'c', 'd', 'e']

Tuples

In [65]:

vector = (4, 5, 9)
print("x-coordinate:", vector[0])
print("y-coordinate:", vector[1])
print("z-coordinate:", vector[2])

x-coordinate: 4
y-coordinate: 5
z-coordinate: 9

In [66]:
location = 108.7774, 92.5556
latitude, longtitude = location
print("The coordinates are {} x {}".format(latitude, longtitude))

The coordinates are 108.7774 x 92.5556

In [67]:

location = 108.7774, 92.5556

print("The coordinates are {} x {}".format(latitude, longtitude))

The coordinates are 108.7774 x 92.5556

Dictionaries and Identity Operators

In [68]:

elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

In [69]:
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary

2

In [70]:
print("carbon" in elements)
print(elements.get("dilithium"))

True
None

. Keyword Operators

In [71]:
n = elements.get("dilithium")
print(n is None)
print(n is not None)

True
False

In [72]:
population = {"New York":17.8, "Spain":13.3, "Dhaka":13.0, "Mumbai":12.5}
print(population)

{'New York': 17.8, 'Spain': 13.3, 'Dhaka': 13.0, 'Mumbai': 12.5}

**Get()* with a Default Value:**

In [73]:
print(population.get('London'))

None

In [74]:

population['London']

KeyError: 'London'

In [75]:
population.get('London', 'There\'s no such place!')

"There's no such place!"

Compound Data Structures

In [76]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

In [77]:
helium = elements["helium"]  # get the helium dictionary
hydrogen_weight = elements["hydrogen"]["weight"]  # get hydrogen's weight

print(helium)
print(hydrogen_weight)

{'number': 2, 'weight': 4.002602, 'symbol': 'He'}
1.00794

In [78]:
oxygen = {"number":8,"weight":15.999,"symbol":"O"}  # create a new oxygen dictionary
elements["oxygen"] = oxygen  # assign 'oxygen' as a key to the elements dictionary

print('elements = ', elements)

elements =  {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}